*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-icon {
    font-size: 15px;
}
.nav-butt{
    background-color: rgb(255, 238, 0);
    border-radius: 50px;
}

.card-icon2{
     /* background-color: blue; */
    
}
.card-pad{
    padding: 22px;
}

.nav-icon2 {
    font-size: 45px;
}

.service-sec{
    background-color: #231c38;
}

.serv-head{
    color: white;
    text-decoration: 3px solid #FF8101 underline;
}

.serv-card{
    background-color: #352f5b;
    color: white;
    box-shadow: 0 0 10px #FF1E53, 0 0 10px #FF8101, 0 0 15px #6720FF; 
}
.serv-card:hover{
    transform:translateY(-10px);
}
